<div id="auth-page">
  <nav id="auth-nav">
    <%= image_tag asset_path("logo.png"), id: "top-left-logo", size: 50 %>
    <h2>Apptus</h2>
  </nav>

    <div id="auth-form-container">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data: { controller: "double-click", action: "submit->doubleClick#disable" }) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Email Address', required: true %>
        </div>

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions" %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>