<div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { controller: "double-click", action: "submit->doubleClick#disable" }) do |f| %>
    <div class="field">
      <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", required: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "name", placeholder: "Full Name", required: true %>
      </div>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", minlength: @minimum_password_length, maxlength: 128 %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password", minlength: @minimum_password_length, maxlength: 128 %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", required: true %>
      </div>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
</div>
