<div id="members-list">
  <%= link_to edit_chat_path(@chat), class: 'link-with-icon' do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292"/></svg>
    <span>Back</span>
  <% end %>

  <h3>Add Members</h3>

  <%= link_to pending_contacts_path, class: 'link-with-icon', data: { turbo_frame: '_top' } do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
    <span>Add new contacts</span>
  <% end %>

  <% @contacts.each do |contact| %>
    <div class="member">
      <div>
        <%= render 'shared/icon', resource: contact, size: :small %>

        <span><%= contact.title_name %></span>
      </div>
      <div>
        <%= link_to chat_chat_members_path(@chat, user_id: contact.id), data: { turbo_method: :post } do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
