<div id="auth-container">
  <h2>Apptus</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { controller: "double-click", action: "submit->doubleClick#disable" }) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", required: true %>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
