<div class="field" data-controller="file-input">
  <%= f.label :pfp, "Profile Picture" %>
  <%= f.label :pfp, id: "upload-pfp" do %>
    <%= render 'shared/icon', resource:, size: "massive" %>
    <div id="upload-image-cover">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M350.54 148.68l-26.62-42.06C318.31 100.08 310.62 96 302 96h-92c-8.62 0-16.31 4.08-21.92 10.62l-26.62 42.06C155.85 155.23 148.62 160 140 160H80a32 32 0 00-32 32v192a32 32 0 0032 32h352a32 32 0 0032-32V192a32 32 0 00-32-32h-59c-8.65 0-16.85-4.77-22.46-11.32z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="272" r="80" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M124 158v-22h-24v22"/></svg>
      <div>Upload Image</div>
    </div>
  <% end %>

  <%= link_to remove_pfp_path, class: "link-with-icon destructive", data: { turbo_method: :delete } do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
    <span>Remove Profile Picture</span>
  <% end %>

  <%= f.file_field :pfp, accept: 'image/png,image/jpeg,image/jpg,image/gif', data: { action: "input->file-input#updateLabel"  } %>
</div>
