<div id="<%= dom_id(chat) %>" <%= 'data-controller="sort-chats"'.html_safe if from_stream %>>
  <%= render 'shared/icon', resource: chat, size: :big %>

  <div class="chat-preview-details">
    <div class="chat-preview-header">
      <span><%= chat.name %></span>
      <span data-controller="nice-date" data-timestamp="<%= chat.last_message.created_at.to_i %>" class="date"></span>
    </div>
    <p><%= chat.last_message.content %></p>
  </div>
</div>
