<div id="auth-container">
  <h2>Apptus</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { controller: "double-click", action: "submit->disable" }) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", required: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field" id="remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
